<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
           
           .principal{
               width: 1200px;
               background-color: #e5e2e2;
               margin: -20px auto auto auto;
               text-align: center;
               padding: 20px;
           }
           


    </style>
</head>
<body>
    

    <div class="principal">

    <h1>DETALHES DO POST</h1>
        
        <h4>{{post.titulo}}</h4>

         <p>{{post.conteudo}}</p>


      
    </div>


    
</body>
</html>